header {
    background-color: white;
    background-image: url('../images/logo.png');
    background-position: 0 0 0 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    height: 70px;
    padding-left: 20px;
    width: 100%;
}
